$breakpointsList: (
  'xxsmall': 480px,
  'xsmall': 640px,
  'small':  840px,
  'medium': 1024px,
  'large':  1200px,
  'xlarge':  1600px,
  'xxlarge':  1920px
) !default;

$columns-num: 12 !default;

@mixin set-breakpoints($list) {
  $breakpointsList: $list;
}

@mixin set-columns-num($num) {
  $columns-num: $num;
}

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpointsList, $breakpoint) {
    @media (min-width: map-get($breakpointsList, $breakpoint)) {
      @content;
    }
  }
}

@mixin row($margin: 0) {
  font-size: 0;
  margin-left: -$margin;
  margin-right: -$margin;
}

@mixin column($gap: 0, $align: top) {
  display: inline-block;
  padding-left: $gap;
  padding-right: $gap;
  vertical-align: $align;
}

@mixin setColumnSize($col, $sum) {
  width: percentage($col / $sum);
}

@mixin offset($colNum, $sum) {
  margin-left: percentage($colNum / $sum);
}

@mixin makeColumns($size-class) {
  @for $i from 0 through $columns-num {
    .#{$size-class}-#{$i} {
      @include setColumnSize($i, $columns-num);
    }
  }
}

@mixin makeOffsets($size-class) {
  @for $i from 0 through $columns-num {
    .#{$size-class}-#{$i} {
      @include offset($i, $columns-num);
    }
  }
}
