$class-xsmall-column: col-xs !default;
$class-xsmall-offset: offset-xs !default;
$class-small-column: col-sm !default;
$class-small-offset: offset-sm !default;
$class-medium-column: col-md !default;
$class-medium-offset: offset-md !default;
$class-large-column: col-lg !default;
$class-large-offset: offset-lg !default;
$class-xlarge-column: col-xl !default;
$class-xlarge-offset: offset-xl !default;

$row-margin: 20px;
$columns-num: 12;
$column-gap: 10px;

$breakpoints: (
  'xsmall': 640px,
  'small':  840px,
  'medium': 1024px,
  'large':  1200px
  'xlarge':  1600px
) !default;
